body {
    background-image: url(/images/alexander-andrews-fsH1KjbdjE8-unsplash.jpg);
    background-repeat: cover;
    text-align: center;
  }

  /* font-family: 'Bungee Shade', cursive;
  font-family: 'Faster One', cursive;
  font-family: 'Monofett', cursive;
  font-family: 'Press Start 2P', cursive; */
  
  h1 {
      color: rgb(255, 255, 255);
      font-size: 1.8em;
      font-family: 'Press Start 2P', cursive;
  }
  /* GAME BOARD STYLES */
  #gameBox {
    /*
      width and height of .gameBoard should 1/40 of the width and height of #gameBox,
      because it is used in calculation in the .js file
      */
    width: 40vw;
    height: 40vw;
    margin: 1vw auto;
    background-image: url(/images/space_background.jpg);
    background-size: cover;
    border: solid 10px #fdf9fab7;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  }
  
  .gameBoard {
    /*
      width and height of .gameBoard should 1/40 of the width and height of #gameBox,
      because it is used in calculation in the jscript.js file
      */
    width: 1vw;
    height: 1vw;
    border-radius: 10px;
    float: left;
  }
  /* GAME BOARD STYLES END*/
  
  /* WORM STYLES */
  .wormBody {
    background-color: #0afb5b;
    /* box-shadow: 0 0 5px #0afb5b; */
  }
  /* SPACE WORM STYLES END*/
  
  /* FOOD STYLES */
  .food {
    background-color: #ffd000;
  }
  /* FOOD STYLES END*/
  
  /* SCORE STYLES */
  #scoreContainer {
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  
  .scoreBoard {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    border-radius: 10px;
    border: solid 5px #f0e4e6b7;
    color: rgb(218, 213, 213);
    display: inline-block;
    padding: 1vw;
    width: 40%;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  }
  /* SCORE STYLES END */
  
  /* Hide #onScreenControllers on desktop */
  #onScreenControllers {
    display: none;
  }



@media only screen and (max-width: 768px) {
    /* MOBILE */
    #gameBox {
      width: 80vw;
      height: 80vw;
    }
  
    .gameBoard{
      width: 2vw;
      height: 2vw;
    }
  
    #scoreContainer {
      width: 80vw;
    }
  
    #onScreenControllers {
      width: 80vw;
      margin: 5vw auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  
    #onScreenControllers > div {
      display: flex;
      flex-direction: column;
    }
  
    #onScreenControllers button {
      background-color: transparent;
      height: 20vw;
      width: 20vw;
      font-size: 10vw;
      border: none;
    }
  
    #onScreenControllers button:focus {
      outline: none;
    }
  
    #onScreenControllers button:active {
      background-color: slategray;
    }
  }
